.navi{
  min-width: 100%;
  margin-left: -10px;
  margin-right: -20px;
  margin-top: 4px;
}

.banner {
  min-width: 100%;
  margin: -20px;
}

.app-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: -10px;
}

.route{
  justify-content: center;
}

body{
  margin: 0;
  max-width: 100%;
}

html, body{
  background: linear-gradient(to bottom right,#F8F8F9,#111439) ;
  max-width: 100%;
}

