
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Wallpoet&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <title>Document</title>
</head>
<body>
  <!-- <button class="cn-button" id="cn-button">+</button> -->
<div class="nav-container">
  <div class="Logo-container">
    <h1 class="logo">Rome</h1>
  </div>
   <ul class="list">
    <li > <a id="home-link" class="links" routerLinkActive="activeLink" routerLink="home" >HOME</a></li>
    <li > <a id="Tech-link" class="links" routerLinkActive="activeLink" routerLink="tech" >TECHNOLOGY</a></li>
    <li > <a id="world-news-link" class="links"  routerLink="" >WORLD</a></li>
    <!-- <li > <a id="following-link" class="links" routerLink="" >FOLLOWING</a></li> -->
    <li > <a id="region-link" class="links"  routerLink="" >REGION</a></li>
    <form class="example-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()" >
        <div>
          <label for="searchItem"></label>
        </div>
        <input id="searchItem" formControlName="searchBox" placeholder="Search Articles" type="text">
        <!-- send topic to service layer  -->
        <input  type="submit" >

    </form>
   </ul>
</div>
</body>
</html>



