
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../app/navigation/navigation.component.scss">
  <title>Document</title>
</head>
<body>
  <!-- <button class="cn-button" id="cn-button">+</button> -->
<div class="nav-container" id="cn-wrapper">
   <ul class="list">
    <div>
    <li > <a id="home-link" class="links" routerLinkActive="activeLink" routerLink="home" >HOME</a></li>
    </div>

    <li > <a id="headlines-link" class="links" routerLinkActive="activeLink" routerLink="headlines" >HEADLINES</a></li>
    <li > <a id="following-link" class="links" routerLinkActive="activeLink" routerLink="" >FOLLOWING</a></li>
    <li > <a id="region-link" class="links" routerLinkActive="activeLink" routerLink="" >REGION</a></li>
    <li > <a id="search-link" class="links" routerLinkActive="activeLink" routerLink="" >SEARCH</a></li>
   </ul>
</div>
<div id="cn-overlay" class="cn-overlay"></div>
</body>
</html>



