.parent-container {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-gap: 17px;
  grid-template-columns: repeat(8, minMax(80px, 255px));
  grid-template-rows: repeat(4, 319px);
  justify-content: center;
}

.item .container-one {

  overflow: hidden;
  grid-row: 1/5;
  grid-column: 1/5;
  width: 100%;
  justify-self: auto;
  display: flex;
  overflow-x: hidden;
}

.container-two {
  grid-column: 2/1;
  grid-row: 2/5;
  background-color: black;
  align-items: center;
    justify-content: center
}

.container-three {
  grid-column: 2/7;
  grid-row: 2/4;
  display: grid;
  align-items: center;
    justify-content: center;
  background-color: brown;
}
.container-three-1{
  grid-column: 7/9;
  grid-row: 5/2;
  background: blue;
  align-items: center;
    justify-content: center
}

.container-three-2{
  background-color: chartreuse;
  grid-column: 2/7;
  grid-row: 5/4;
  align-items: center;
    justify-content: center
}


.container-four {
  grid-row: 5/5;
  grid-column: 1/9;
  background-color: green;
  align-items: center;
    justify-content: center
}
#box-container {
  display: grid;
  grid-row: 1, 3fr;
  -moz-animation: my-animation 60s linear infinite;
  -webkit-animation: my-animation 60s linear infinite;
  animation: my-animation 60s linear infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.175, 0.185, 0.185, 0.185);
}

@keyframes my-animation {
  // determines where inside the div the scrolling begins
  from {
    -moz-transform: translateX(5%);
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
  }
  to {
    -moz-transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    transform: translateX(-800%);
  }
}

.container > * {
  width: 100%;
  display: flex;
  visibility: visible;
  position: relative;
}

#box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  margin: 20px;
  height: 300px;
  width: 500px;
  background: url("../../assets/grass.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 1%;
}

#desc,
#author,
#published {
  font-weight: 400;
  color: aliceblue;
}

#title {
  position: relative;
  margin: 7px;
  line-height: 25px;
  color: #fff;
  font-family: "DM Mono", monospace;
  overflow: hidden;
}

.trans-container > * {
  position: inherit;
  width: auto;
  background-color: black;
  border: 1px solid red;
  align-items: center;
}

.trans-container #title {
  overflow: hidden;
}
// body,
// html {
//   // height: 100%;
// }
body {
  margin: 0;
  display: grid;
}
.title-container h2 {
  text-align: left;
}

// .parent-container {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   // grid-template-rows: repeat(1, 1fr);
//   grid-column-gap: 0px;
//   grid-row-gap: 0px;
//   border: 12px solid red;
//   }

// .container-two {
//   grid-area: side ;
//   display: grid;
//   // grid-template-columns: repeat(3, 1fr);
//  background-color: black;
// }

// .conatiner-three {
//   grid-area: 3 / 2 / 6 / 5;
// }

// .container-four {
//   // grid-area: 3 / 5 / 6 / 6;
// }
