.home{
  text-align: center;

  margin-top: 0px;
}

.container-one {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // --grid-cols: 2;
  // display: grid;
  // gap: var(--grid-gap, 1rem);
  // grid-template-columns: repeat(var(--grid-cols), 2fr);
  // width:fit-content;
  margin: 0;
  justify-content: space-between;
  border: 3px solid black;
  overflow-y:hidden;
  height: 400px;

}
#box-container{
  // overflow: auto;
}
.container > *:nth-child(1) {animation-delay: 0s}
.container > *:nth-child(2) {animation-delay: 4s}
.container > *:nth-child(3) {animation-delay: 8s}


.container > * {
  height: 500px; position: relative;
  display: flex;
  visibility: visible; position: relative;
  top: 0; left: 0; animation: 12s autoplay1 infinite;
  width: 600px;
  margin: 20px;

}

// @keyframes autoplay1 {
//   0% {visibility: visible}
//   33.33% {visibility: hidden}
// }



#box{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden ;
  justify-content: space-between;
  margin: 20px;
  height: 300px;
  width: 500px;
  background: url("../../assets/grass.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 1%;


}

#desc, #author, #published {
  font-weight: 400;
  color: aliceblue;
}



#title{
  // position:relative;
  // z-index: 9;
  margin: 20px;
  // top: -90px;
  line-height: 30px;
  color: #fff;
  font-family: 'DM Mono', monospace;
  // opacity: 1;

}

.trans-container > *{

  position: relative;
  justify-items: center;
  width: auto;
  // height: 30%;
  // background: transparent;
  background-color: black;
  border: 1px solid red;
  // opacity: 0.1;
}

.trans-container{
  z-index: 0;
  // opacity: 0.4;
}
body {
  background: #fff;
  margin: 0;
}
.title-container h2{
  text-align: left;



}



