.home{
  text-align: center;

  margin-top: 0px;
}

.container-one {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // --grid-cols: 2;
  // display: grid;
  // gap: var(--grid-gap, 1rem);
  // grid-template-columns: repeat(var(--grid-cols), 2fr);
  // width:fit-content;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  overflow-y:hidden;
  height: 400px;


}
#box-container{
  display: flex;
  flex: 1;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
  animation-direction: alternate;
  animation-timing-function:cubic-bezier(0.175, 0.185, 0.185, 0.185);
 
}

@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
// .container > *:nth-child(1) {animation-delay: 0s}
// .container > *:nth-child(2) {animation-delay: 4s}
// .container > *:nth-child(3) {animation-delay: 8s}


.container > * {
  display: flex;
  visibility: visible; position: relative;
  // top: 0; left: 0; animation: 12s autoplay1 infinite;



}

// @keyframes autoplay1 {
//   0% {visibility: visible}
//   33.33% {visibility: hidden}
// }



#box{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden ;
  justify-content: space-between;
  margin: 20px;
  height: 300px;
  width: 500px;
  background: url("../../assets/grass.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 1%;


}

#desc, #author, #published {
  font-weight: 400;
  color: aliceblue;
}



#title{
  position:relative;
  // z-index: 9;
  margin: 7px;
  line-height: 25px;
  color: #fff;
  font-family: 'DM Mono', monospace;
  overflow: hidden;



}

h3{

}

.trans-container > *{
  position: inherit;
  width: auto;

  background-color: black;
  border: 1px solid red;
  align-items: center;

}


.trans-container #title{
  overflow: hidden;

}
body {
  background: #fff;
  margin: 0;
  display: grid;
}
.title-container h2{
  // text-align: left;
  display: table;




}



